<!-- Verify Badge Dialog-->
<verify-badge-dialog #verifyBadgeDialog
                     (verifiedCredential)="onVerifiedCredential()"
></verify-badge-dialog>

<ng-template [bgAwaitPromises]="credentialIdParam">

	<main class="o-container">
		<form-message></form-message>

		<div class="badgedetail">
			<div class="badgedetail-x-header">
				<!-- Badge Name -->
				<h1>
					{{ credential.credentialSubject.achievement.name }}
				</h1>

				<div class="l-primarymore">
					<button
						class="button"
						type="button"
						(click)="verifyCredential()">
						Verify Badge
					</button>
					<a
						class="button button-secondary"
						[href]="rawJsonUrl"
						download>
						Download JSON
					</a>
				</div>
			</div>
			<div class="badgedetail-x-sidebar">
				<div class="badgedetail-x-sidebarinternal">
					<!-- Credential Image -->
					<img [loaded-src]="credential.credentialSubject.achievement.image"
						 [loading-src]="badgeLoadingImageUrl"
						 [error-src]="badgeFailedImageUrl"
						 [ngStyle]="(credential.validUntil && isExpired) && {'filter':'grayscale(1)'}"
						 class="badgeimage badgeimage-center badgeimage-large"
						 width="200" />
					<div class="badgestatus badgestatus-expired u-margin-auto"
						 *ngIf="credential.validUntil && isExpired"
						 >Expired</div>

					<!-- Issuer Information -->
					<dl>
				    	<div class="l-flex l-flex-2x u-padding-top2x border border-top border-light3">
							<div>
								<img [loaded-src]="issuerImagePlacholderUrl"
									[loading-src]="issuerImagePlacholderUrl"
									[error-src]="issuerImagePlacholderUrl"
									width="40" />
							</div>
							<div>
								<dt class="u-text-small-bold u-text-dark2">Issued by:</dt>
								<dd class="u-text">
	                				<a class="u-break-word">{{ credential.credentialSubject.achievement.creator.name }}</a>
	            				</dd>
							</div>
						</div>
						<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">Issued on:</dt>
						<dd class="u-text"><time [date]="credential.validFrom" format="mediumDate"></time></dd>
				    	<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2" *ngIf="credential.validUntil">
				    		<span>{{ +isExpired | i18nPlural: tense['expires'] }} on:</span>
				    	</dt>
							<dd class="u-text" *ngIf="credential.validUntil"><time [date]="credential?.validUntil" format="mediumDate"></time></dd>
					</dl>
				</div>
			</div>
			<div class="badgedetail-x-desc">
				<h2 class="u-text-h3-semibold u-margin-bottom2x u-hidden-mintablet">Description</h2>
				<p class="u-text-body u-width-paragraph">{{ credential.credentialSubject.achievement.description }}</p>
			</div>
			<div class="badgedetail-x-body">
				<!-- criteria -->
				<section *ngIf="
						credential.credentialSubject.achievement.criteria &&
						(
							credential.credentialSubject.achievement.criteria.narrative ||
							credential.credentialSubject.achievement.criteria.id
						)
					">

					<h3 class="u-text-h3-semibold u-text-dark2 u-margin-bottom2x u-margin-top4x">
						Criteria
					</h3>

					<show-more
						class="u-margin-bottom8x"
						*ngIf="credential.credentialSubject.achievement.criteria.narrative">
						<markdown-display
							[value]="credential.credentialSubject.achievement.criteria.narrative">
						</markdown-display>
					</show-more>

					<div
						class="u-margin-yaxis2x"
						*ngIf="credential.credentialSubject.achievement.criteria.id">
						<a
							class="u-text-outlink"
							target="_blank"
							[href]="credential.credentialSubject.achievement.criteria.id">
							View External Criteria URL
							<svg icon="icon_external_link"></svg>
						</a>
					</div>
				</section>

				<!-- alignment -->
				<section *ngIf="
						credential.credentialSubject.achievement.alignment &&
						credential.credentialSubject.achievement.alignment.length > 0
					">

					<h3 class="u-text-h3-semibold u-margin-yaxis2x">
						Alignment
					</h3>

					<div
						class="bordered l-padding-2x l-marginBottom-2x"
						*ngFor="let alignment of credential.credentialSubject.achievement.alignment">

						<div class="l-flex l-flex-justifybetween">
							<h4 class="u-text-body-bold u-margin-bottom1x">
								{{ alignment.targetName }}
							</h4>
						</div>

						<small>{{ alignment.targetCode }}</small>

						<p class="u-break-word u-text-body u-width-paragraph">
							{{ alignment.targetDescription }}
						</p>

						<div *ngIf="alignment.targetFramework">
							<h1>Framework</h1>
							{{ alignment.targetFramework }}
						</div>

						<div *ngIf="alignment.targetType">
							<h1>Type</h1>
							{{ alignment.targetType }}
						</div>

						<div
							class="u-margin-yaxis2x"
							*ngIf="alignment.targetUrl">
							<a
								class="u-text-outlink"
								[href]="alignment.targetUrl"
								target="_blank">

								View alignment URL
								<svg icon="icon_external_link"></svg>
							</a>
						</div>
					</div>
				</section>

				<!-- tags -->
				<section *ngIf="
						credential.credentialSubject.achievement.tag &&
						credential.credentialSubject.achievement.tag.length > 0
					">

					<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top4x">
						Tags
					</h3>

					<div class="l-tags">

						<div
							class="tag"
							*ngFor="let tag of credential.credentialSubject.achievement.tag">
							{{ tag }}
						</div>
					</div>
				</section>
			</div>
		</div>
	</main>
</ng-template>
