<form-message></form-message>

<ng-template [bgAwaitPromises]="[issuerLoaded]">

	<header class="topbar topbar-withimage">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs">
				</bg-breadcrumbs>
			</div>
		</div>
		<div class="l-containerxaxis">
			<div class="topbar-x-wrap">
				<img class="topbar-x-image" *ngIf="issuer.image" [src]="issuer.image" alt="{{issuer.name}} logo " />
				<img class="topbar-x-image" *ngIf="!issuer.image" [src]="issuerImagePlaceHolderUrl" alt="Default issuer image">
				<div>
					<a
						class="topbar-x-heading u-text"
					>
						{{ issuer.name }}
					</a>
				</div>
				<div class="topbar-x-subheading">
					<p class="u-text u-text-small">
							Your Role:
							{{	
								isAdmin ? 'Admin' :
								isIssuer ? 'Issuer' :
								isEmployer ? 'Employer' :
								'Viewer'
							}}
					</p>
					<p class="u-margin-top1x u-width-paragraph">
						{{ issuer.description }}
					</p>
					<p></p>
				</div>
				<div class="topbar-x-buttons" *ngIf="isIssuer || isAdmin || isEmployer">
					<div class="l-primarymore">
						<button class="button" [routerLink]="['credentials/create']">Create Credential</button>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div *bgAwaitPromises="[issuerLoaded]">
		<div class="l-containerxaxis u-margin-top3x u-margin-bottom3x">
			<div class="forminput l-actionbar-x-search">
				<div class="forminput-x-inputs">
					<input
						type="text"
						name="recipientFilter"
						id="recipientFilter"
						placeholder="Filter by Recipient ID"
						[(ngModel)]="filterUserId"
						(ngModelChange)="applyFilter()">
					<svg
						class="forminput-x-icon"
						icon="icon_search">
					</svg>
				</div>
			</div>
		</div>
		
		<section class="emptysection l-emptysection"
    			*ngIf="!hasVisibleCredentials">
			<h2 class="emptysection-x-headline">
				There are no credentials
			</h2>
			<p class="emptysection-x-copy">
				No credentials found associated with this search.
			</p>
			<div class="emptysection-x-imagecontainer">
				<img alt="Illustration"
					class="emptysection-x-image"
					[src]="noIssuersPlaceholderSrc">
			</div>
		</section>

		<ng-container *ngIf="isAdmin || isIssuer">
			<ng-container
				*ngTemplateOutlet="credentialSection;
					context: {
						type: 'academic',
						title: 'Academic Certificates',
						items: academicCertificates,
						canRevoke: true
					}">
			</ng-container>

			<ng-container
				*ngTemplateOutlet="credentialSection;
					context: {
						type: 'degree',
						title: 'Degree Certificates',
						items: degreeCertificates,
						canRevoke: true
					}">
			</ng-container>
		</ng-container>

		<ng-container *ngIf="isAdmin || isEmployer">
			<ng-container
				*ngTemplateOutlet="credentialSection;
					context: {
						type: 'experience',
						title: 'Experience Certificates',
						items: experienceCertificates,
						canRevoke: true
					}">
			</ng-container>
		</ng-container>

		<ng-template
			#credentialSection
			let-type="type"
			let-title="title"
			let-items="items"
			let-canRevoke="canRevoke">

			<section
				class="l-containerxaxis l-containeryaxis"
				*ngIf="items?.length">

				<h4 class="u-text-h3-bold u-text-dark2 u-margin-top1x">
					{{ title }} ({{ items.length }})
				</h4>

				<table class="datatable datatable-roundheaders datatable-onlyfirstcolumn datatable-verticalalignmiddle u-margin-top2x">
					<thead class="datatable-x-head">
						<tr class="datatable-x-header">
							<th class="datatable-x-cell">Credential</th>
							<th class="datatable-x-cell">Recipient ID</th>
							<th class="datatable-x-cell">Issued</th>
							<th class="datatable-x-cell">Valid Until</th>
							<th class="datatable-x-cell">Status</th>

							<th
								class="datatable-x-cell"
								*ngIf="canRevoke">
								<span class="visuallyhidden">Actions</span>
							</th>
						</tr>
					</thead>

					<tbody class="datatable-x-body">
						<tr
							class="datatable-x-row"
							*ngFor="let credential of items">
							<td class="datatable-x-cell">
								<div class="l-flex l-flex-aligncenter l-flex-1x">
									<img
										*ngIf="credential.achievementImage"
										class="l-flex-x-shrink0 badgeimage badgeimage-small"
										[src]="credential.achievementImage"
										width="40">

									<div class="u-margin-left1x">
										<div class="u-text">
											<a [routerLink]="['/public', 'credentials', type, credential.credentialId]">
												{{ credential.achievementName }}
											</a>
										</div>

										<div class="u-text-small u-text-dark3">
											{{ credential.achievementType }}
										</div>
									</div>

								</div>
							</td>

							<td class="datatable-x-cell">
								{{ credential.recipientId }}
							</td>
							<td class="datatable-x-cell">
								<time
									[date]="credential.validFrom"
									format="mediumDate">
								</time>
							</td>
							<td class="datatable-x-cell">
								<span *ngIf="credential.validUntil; else noExpiry">
									<time
										[date]="credential.validUntil"
										format="mediumDate">
									</time>
								</span>

								<ng-template #noExpiry>-</ng-template>
							</td>
							<td class="datatable-x-cell">
								<span *ngIf="credential.signature; else unsigned">
									Signed
								</span>

								<ng-template #unsigned>
									Unsigned
								</ng-template>
							</td>
							<td
								class="datatable-x-cell"
								*ngIf="canRevoke">

								<div class="l-flex l-flex-aligncenter l-flex-justifyend">

									<button
										class="button button-primary button-small"
										(click)="revokeCredential(type, credential)">

										Revoke

									</button>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</ng-template>
	</div>
</ng-template>
