<dialog aria-labelledby="addBadgeDialog"
        aria-describedby="dialog1Desc"
        class="dialog dialog-is-active l-dialog dialog-clean"
        role="dialog"
>
	<div class="dialog-x-box o-container">
		<div class="dialog-x-header u-background-light3">
			<h2 id="addBadgeDialog"
			    class="u-text-body-bold-caps text-dark1"
			>
				Add Credential
			</h2>
			<button class="buttonicon buttonicon-link"
			        (click)="closeDialog()"
			>
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden">Close</span>
			</button>
		</div>


		<form [formGroup]="addRecipientBadgeForm.rawControl"
			(ngSubmit)="submitBadgeRecipientForm()">

			<p class="u-padding-yaxis2x u-responsivepadding-xaxis border-light3 u-text-body u-background-light3">
				Import a credential you have already received.
			</p>

			<div class="u-padding-all3x">

				<!-- Credential Type -->

				<div class="forminput u-margin-bottom3x">

					<label class="forminput-x-label">
						Credential Type
					</label>

					<bg-formfield-select
						[control]="addRecipientBadgeForm.rawControlMap.credentialType"
						[optionMap]="credentialTypes"
						ariaLabel="Credential Type">
					</bg-formfield-select>

				</div>

				<!-- Credential JSON -->

				<div class="forminput">

					<bg-formfield-text
						[control]="addRecipientBadgeForm.rawControlMap.assertion"
						errorMessage="Please enter valid JSON"
						placeholder="Paste credential JSON"
						[multiline]="true"
						[monospaced]="true"
						[autofocus]="true"
						class="formfield-x-badgePasteJson-text-height">
					</bg-formfield-text>

				</div>

			</div>

			<div class="u-responsivepadding-xaxis u-responsivepadding-yaxis l-stack l-stack-right">

				<button
					class="button"
					type="submit"
					[loading-promises]="[badgeUploadPromise]"
					loading-message="Importing">

					Import Credential

				</button>

			</div>

			<div
				*ngIf="formError"
				class="u-padding-all3x">

				<div class="notification notification-warning notification-is-active">

					<div class="notification-x-icon">
						<svg icon="icon_priority_high"></svg>
					</div>

					<div class="notification-x-text">
						<h2>Uh Oh...</h2>
						<p>{{ formError }}</p>
					</div>

					<button
						class="notification-x-close buttonicon buttonicon-clear"
						(click)="clearFormError()">

						<svg icon="icon_close"></svg>
						<span class="visuallyhidden">Close Notification</span>

					</button>

				</div>

			</div>

		</form>

	</div>
</dialog>
