<main class="o-container">

	<external-tool-launch></external-tool-launch>
	<form-message></form-message>
	<div class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs">
				</bg-breadcrumbs>
			</div>
		</div>
	</div>
	<ng-template [bgAwaitPromises]="[credentialLoaded]">

		<div class="badgedetail">
			<div class="badgedetail-x-header">
				<h1>{{ credential.achievementName }}</h1>

				<div class="l-primarymore">
					<button
						class="button"
						type="button"
						(click)="shareBadge()">
						Share Credential
					</button>
					<a
						class="button button-secondary"
						[href]="rawJsonUrl"
						download>
						Download JSON
					</a>
				</div>
			</div>
			<div class="badgedetail-x-sidebar">
				<div class="badgedetail-x-sidebarinternal">
					<img
						[loaded-src]="credential.achievementImage"
						[loading-src]="badgeLoadingImageUrl"
						[error-src]="badgeFailedImageUrl"
						[ngStyle]="credential.isExpired && {'filter':'grayscale(1)'}"
						class="badgeimage badgeimage-center badgeimage-large"
						width="200"
					/>
					<div
						class="badgestatus"
						*ngIf="credential">
						{{ credential.isSigned ? 'Signed' : 'Unsigned' }}
					</div>
					<dl>
						<div class="l-flex l-flex-2x u-padding-top2x border border-top border-light3">
							<div>
								<img
									[loaded-src]="issuerImagePlacholderUrl"
									[loading-src]="issuerImagePlacholderUrl"
									[error-src]="issuerImagePlacholderUrl"
									width="40" />
							</div>

							<div>
								<dt class="u-text-small-bold u-text-dark2">Issued by:</dt>
								<dd class="u-text u-break-word">
									{{ credential.issuerName }}
								</dd>
							</div>
						</div>
						<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">Issued on:</dt>
						<dd class="u-text"><time [date]="credential.validFrom" format="mediumDate"></time></dd>
						<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">Awarded to:</dt>
						<dd class="u-text u-break-all">Student with id {{ credential.recipientId }}</dd>
						<div
							*ngIf="credential && credential.validUntil">
							<dt class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2">{{ compareDate(credential.validUntil, now) | i18nPlural: tense['expires'] }} on:</dt>
							<dd class="u-text"><time [date]="credential.validUntil" format="mediumDate"></time></dd>
						</div>
					</dl>
				</div>
			</div>
			<div class="badgedetail-x-desc">
				<h2 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-hidden-mintablet">Description</h2>
				<p class="u-text-body u-width-paragraph">{{ credential.achievementDescription }}</p>
			</div>
			<div class="badgedetail-x-body">

				<!-- criteria -->
				<section *ngIf="credential.achievementCriteria">
					<h3
						class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
						Criteria
					</h3>

					<show-more>
						<markdown-display
							[value]="credential.achievementCriteria.narrative">
						</markdown-display>
					</show-more>

				</section>

				<!-- alignment -->
				<section>
				<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x"
					*ngIf="credential.achievementAlignment && credential.achievementAlignment.length>0"
					>Alignment</h3>
				<div
					*ngFor="let alignment of credential.achievementAlignment">
					<div class="l-flex l-flex-justifybetween">
						<h4 class="u-text-body-bold u-margin-bottom1x">{{ alignment.targetName }}</h4>
						<small>{{ alignment.targetCode }}</small>
					</div>
					<p class="u-break-word u-text-body u-width-paragraph">{{ alignment.targetDescription }}</p>
					<div *ngIf="alignment.frameworkName">
						<h1>Framework</h1>
						{{ alignment.frameworkName }}
					</div>
					<div class="u-margin-yaxis2x">
						<a
							*ngIf="alignment.targetUrl"
							class="u-text-outlink"
							[href]="alignment.targetUrl"
							target="_blank"
						>View alignment URL
							<svg icon="icon_external_link"></svg>
						</a>
					</div>
				</div>
				</section>

				<!-- tags -->
				<section
					*ngIf="credential.achievementTag.length > 0">
				<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Tags</h3>
				<div class="l-tags">
					<div class="tag"
						*ngFor="let tag of credential.achievementTag; last as last"
					>{{tag}}</div>
				</div>
				</section>
			</div>
		</div>
	</ng-template>
</main>
