<ng-container *bgAwaitPromises="[issuerLoaded]">

    <form-message></form-message>

    <div class="topbar">
        <div class="l-containerxaxis">

            <div class="topbar-x-breadcrumbs">
                <bg-breadcrumbs
                    [linkentries]="breadcrumbLinkEntries">
                </bg-breadcrumbs>
            </div>

            <div class="topbar-x-heading">
                Create Credential
            </div>

            <div class="topbar-x-subheading">
                Issue a new credential to a recipient.
                Select the credential type and complete the required information below.
            </div>

        </div>
    </div>

    <div class="l-containerxaxis l-containeryaxis">

        <form
            class="l-responsivelist"
            [formGroup]="credentialForm.rawControl"
            (ngSubmit)="onSubmit()"
            novalidate
        >

            <!-- Credential Type -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-credential-type">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-credential-type">

                    Credential Information

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Credential Type
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Select the type of credential you want to issue.
                    </p>

                </div>

                <div class="formsection-x-body">

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Credential Type
                        </label>

                        <bg-formfield-select
                            [control]="credentialForm.rawControlMap.credentialType"
                            ariaLabel="Credential Type"
                            [optionMap]="credentialTypes">
                        </bg-formfield-select>

                    </div>

                </div>

            </div>

            <!-- Recipient -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-recipient">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-recipient">

                    Recipient

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Recipient Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Enter the identifier of the user that will receive this credential.
                    </p>

                </div>

                <div class="formsection-x-body">

                    <div class="forminput">

                        <label class="forminput-x-label">
                            User ID
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.userId"
                            ariaLabel="Recipient User ID">
                        </bg-formfield-text>

                    </div>

                </div>

            </div>

            <!-- Academic Certificate -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-academic"
                *ngIf="showAcademicFields">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-academic">

                    Academic Certificate

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Academic Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Provide the information required to generate an academic certificate.
                    </p>

                </div>

                <div class="formsection-x-body">
					<div class="forminput">

                        <label class="forminput-x-label">
                            Course Id
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.courseId"
                            ariaLabel="Course">
                        </bg-formfield-text>

                    </div>

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Grade
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.grade"
                            ariaLabel="Grade"
                            fieldType="number">
                        </bg-formfield-text>

                    </div>

                </div>

            </div>

            <!-- Degree Certificate -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-degree"
                *ngIf="showDegreeFields">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-degree">

                    Degree Certificate

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Degree Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Provide the information required to generate a degree certificate.
                    </p>

                </div>

                <div class="formsection-x-body">

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Degree Name
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.name"
                            ariaLabel="Degree Name">
                        </bg-formfield-text>

                    </div>

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Degree Type
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.degreeType"
                            ariaLabel="Degree Type">
                        </bg-formfield-text>

                    </div>

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Grade
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.grade"
                            ariaLabel="Grade"
                            fieldType="number">
                        </bg-formfield-text>

                    </div>

                </div>

            </div>

            <!-- Experience Certificate -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-experience"
                *ngIf="showExperienceFields">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-experience">

                    Experience Certificate Description

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Experience Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Provide a short description of the experience that should be certified.
                    </p>

                </div>

                <div class="formsection-x-body">
					<div class="forminput">
                        <bg-formfield-markdown
                            [control]="credentialForm.rawControlMap.description"
                            label="Description">
                        </bg-formfield-markdown>
                    </div>
                </div>
            </div>

            <!-- Image -->
            <div class="formsection">
                <div class="formsection-x-title">
                    <h2 class="u-text-dark2">
                        Credential Image
                        <span>(Optional)</span>
                    </h2>
                </div>

                <div class="formsection-x-help">
                    <h3 class="u-text-body-bold">Image</h3>
                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Images can be either PNGs or SVGs.
                    </p>
                </div>
                <div class="formsection-x-body">
                    <div class="forminput">
                        <button
                            type="button"
                            class="button button-secondary u-margin-top2x"
                            (click)="generateRandomImage()">
                            Generate Random Image
                        </button>

                        <bg-formfield-image
                            #imageField
                            [control]="credentialForm.rawControlMap.image">
                        </bg-formfield-image>

                        <badge-studio #badgeStudio
				              [hidden]="true"
				        ></badge-studio>
                    </div>
                </div>
            </div>

            <!-- Criteria -->
            <div class="formsection">

                <div class="formsection-x-title">
                    <h2 class="u-text-dark2">
                        Criteria
                        <span>(Optional)</span>
                    </h2>
                </div>

                <div class="formsection-x-help">
                    <h3 class="u-text-body-bold">
                        What are Criteria?
                    </h3>
                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        The criteria field describes exactly what must be done to earn this credential.
                        You may also provide a URL with additional information.
                    </p>
                </div>

                <div class="formsection-x-body">
                    <div class="u-margin-bottom2x">
                        <div class="mdeditor">
                            <div class="mdeditor-x-editor">
                                <bg-formfield-markdown
                                    [control]="credentialForm.rawControlMap.criteriaText"
                                    label="How does the recipient earn this credential?">
                                </bg-formfield-markdown>
                            </div>
                        </div>
                    </div>

                    <div class="forminput">
                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.criteriaUrl"
                            label="URL"
                            [urlField]="true"
                            fieldType="url">
                        </bg-formfield-text>
                    </div>
                </div>
            </div>

            <!-- Alignment -->
            <div class="formsection">
                <div class="formsection-x-title">
                    <h2 class="u-text-dark2">
                        Alignment
                        <span>(Optional)</span>
                    </h2>
                </div>

                <div class="formsection-x-help">
                    <h3 class="u-text-body-bold">
                        What is Alignment?
                    </h3>
                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Alignment information associates the credential with educational standards,
                        competency frameworks, or other external references.
                    </p>
                </div>

                <div class="formsection-x-body">
                    <ng-container *ngFor="let alignment of credentialForm.controls.alignment.controls; let i = index">
                        <div class="l-flex l-flex-1x l-flex-justifybetween u-margin-bottom2x">
                            <h3 class="u-text-body-bold u-text-dark1">
                                {{ alignment.controls.target_name.value || ('Alignment ' + (i + 1)) }}
                            </h3>
                            <button
                                *ngIf="credentialForm.controls.alignment.controls.length > 1"
                                type="button"
                                class="u-text-link"
                                (click)="removeAlignment(alignment)">
                                Remove
                            </button>
                        </div>
                        <div class="forminput u-margin-bottom6x">
                            <div class="forminput-x-inputs">
                                <bg-formfield-text
                                    [control]="alignment.rawControlMap.target_name"
                                    label="Name"
                                    [errorMessage]="{required:'Please enter an alignment name'}"
                                    id="alignment_name_{{ i }}">
                                </bg-formfield-text>
                                <bg-formfield-text
                                    [control]="alignment.rawControlMap.target_url"
                                    label="URL"
                                    [urlField]="true"
                                    [errorMessage]="{required:'Please enter an alignment URL'}"
                                    id="alignment_url_{{ i }}">
                                </bg-formfield-text>
                                <bg-formfield-text
                                    [control]="alignment.rawControlMap.target_description"
                                    label="Short Description"
                                    [multiline]="true"
                                    id="alignment_description_{{ i }}">
                                </bg-formfield-text>
                                <button
                                    *ngIf="!showAdvanced[i]"
                                    type="button"
                                    class="u-text-link-small u-margin-yaxis2x"
                                    (click)="showAdvanced[i] = true">

                                    Show Advanced Options
                                </button>
                                <ng-template [ngIf]="showAdvanced[i]">
                                    <button
                                        type="button"
                                        class="u-text-link-small u-margin-yaxis2x"
                                        (click)="showAdvanced[i] = false">
                                        Hide Advanced Options
                                    </button>
                                    <bg-formfield-text
                                        [control]="alignment.rawControlMap.target_framework"
                                        label="Framework">
                                    </bg-formfield-text>
                                    <bg-formfield-text
                                        [control]="alignment.rawControlMap.target_code"
                                        label="Code">
                                    </bg-formfield-text>
                                    <bg-formfield-text
                                        [control]="alignment.rawControlMap.target_type"
                                        label="Type">
                                    </bg-formfield-text>
                                </ng-template>
                            </div>
                        </div>
                    </ng-container>
                    <div class="l-stack">
                        <button
                            type="button"
                            class="button button-secondary"
                            (click)="addAlignment()">
                            Add Alignment
                        </button>
                    </div>
                </div>
            </div>

            <!-- Tags -->
            <div class="formsection">
                <div class="formsection-x-title">
                    <h2 class="u-text-dark2">
                        Tags
                        <span>(Optional)</span>
                    </h2>
                </div>

                <div class="formsection-x-help">
                    <h3 class="u-text-body-bold">
                        What are Tags?
                    </h3>
                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Tags are optional keywords that help categorize and describe the credential.
                    </p>
                </div>

                <div class="formsection-x-body">
                    <div class="l-tags">
                        <div
                            *ngFor="let tag of tags"
                            class="tag tag-withclose">

                            {{ tag }}

                            <button
                                type="button"
                                class="buttonicon buttonicon-link">

                                <svg
                                    icon="icon_close"
                                    (click)="removeTag(tag)">
                                </svg>

                                <span class="visuallyhidden">
                                    Remove
                                </span>
                            </button>
                        </div>
                    </div>

                    <div class="forminput forminput-withbutton forminput-light1 u-width-formsmall u-margin-top3x">
                        <label
                            class="forminput-x-label visuallyhidden"
                            for="credential-add-tag">

                            Add Tag
                        </label>

                        <div class="forminput-x-inputs">
                            <input
                                #newTagInput
                                id="credential-add-tag"
                                type="text"
                                maxlength="50"
                                placeholder="New Tag..."
                                (keypress)="handleTagInputKeyPress($event)">

                            <div class="forminput-x-button">
                                <button
                                    type="button"
                                    class="button button-secondary button-informinput"
                                    (click)="addTag()">
                                    Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Valid Until -->
            <div class="formsection">
                <div class="formsection-x-title">
                    <h2 class="u-text-dark2">
                        Valid Until
                        <span>(Optional)</span>
                    </h2>
                </div>

                <div class="formsection-x-help">
                    <h3 class="u-text-body-bold">
                        Credential Validity
                    </h3>
                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Specify the date until which this credential should remain valid.
                        Leave blank if the credential does not expire.
                    </p>
                </div>

                <div class="formsection-x-body">
                    <div class="forminput">
                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.validUntil"
                            label="Expiration Date"
                            fieldType="date">
                        </bg-formfield-text>
                    </div>
                </div>
            </div>

            <!-- Buttons -->

            <div class="l-stack l-stack-right">

                <button
                    type="button"
                    class="button button-secondary"
                    (click)="creationCanceled()">

                    Cancel

                </button>

                <button
                    type="submit"
                    class="button"
                    [disabled]="submitting">

                    {{ submitting ? 'Creating...' : 'Create Credential' }}

                </button>

            </div>

        </form>

    </div>

</ng-container>