<ng-container *bgAwaitPromises="[issuerLoaded]">

    <form-message></form-message>

    <div class="topbar">
        <div class="l-containerxaxis">

            <div class="topbar-x-breadcrumbs">
                <bg-breadcrumbs
                    [linkentries]="breadcrumbLinkEntries">
                </bg-breadcrumbs>
            </div>

            <div class="topbar-x-heading">
                Create Credential
            </div>

            <div class="topbar-x-subheading">
                Issue a new credential to a recipient.
                Select the credential type and complete the required information below.
            </div>

        </div>
    </div>

    <div class="l-containerxaxis l-containeryaxis">

        <form
            class="l-responsivelist"
            [formGroup]="credentialForm.rawControl"
            (ngSubmit)="onSubmit()"
            novalidate
        >

            <!-- Credential Type -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-credential-type">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-credential-type">

                    Credential Information

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Credential Type
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Select the type of credential you want to issue.
                    </p>

                </div>

                <div class="formsection-x-body">

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Credential Type
                        </label>

                        <bg-formfield-select
                            [control]="credentialForm.rawControlMap.credentialType"
                            ariaLabel="Credential Type"
                            [optionMap]="credentialTypes">
                        </bg-formfield-select>

                    </div>

                </div>

            </div>

            <!-- Recipient -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-recipient">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-recipient">

                    Recipient

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Recipient Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Enter the identifier of the user that will receive this credential.
                    </p>

                </div>

                <div class="formsection-x-body">

                    <div class="forminput">

                        <label class="forminput-x-label">
                            User ID
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.userId"
                            ariaLabel="Recipient User ID">
                        </bg-formfield-text>

                    </div>

                </div>

            </div>

            <!-- Academic Certificate -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-academic"
                *ngIf="showAcademicFields">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-academic">

                    Academic Certificate

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Academic Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Provide the information required to generate an academic certificate.
                    </p>

                </div>

                <div class="formsection-x-body">
					<div class="forminput">

                        <label class="forminput-x-label">
                            Course Id
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.courseId"
                            ariaLabel="Course">
                        </bg-formfield-text>

                    </div>

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Grade
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.grade"
                            ariaLabel="Grade"
                            fieldType="number">
                        </bg-formfield-text>

                    </div>

                </div>

            </div>

            <!-- Degree Certificate -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-degree"
                *ngIf="showDegreeFields">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-degree">

                    Degree Certificate

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Degree Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Provide the information required to generate a degree certificate.
                    </p>

                </div>

                <div class="formsection-x-body">

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Degree Name
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.name"
                            ariaLabel="Degree Name">
                        </bg-formfield-text>

                    </div>

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Degree Type
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.degreeType"
                            ariaLabel="Degree Type">
                        </bg-formfield-text>

                    </div>

                    <div class="forminput">

                        <label class="forminput-x-label">
                            Grade
                        </label>

                        <bg-formfield-text
                            [control]="credentialForm.rawControlMap.grade"
                            ariaLabel="Grade"
                            fieldType="number">
                        </bg-formfield-text>

                    </div>

                </div>

            </div>

            <!-- Experience Certificate -->

            <div
                class="formsection"
                role="group"
                aria-labelledby="heading-experience"
                *ngIf="showExperienceFields">

                <h3
                    class="formsection-x-title u-text-dark2"
                    id="heading-experience">

                    Experience Certificate

                </h3>

                <div class="formsection-x-help">

                    <h3 class="u-text-body-bold">
                        Experience Information
                    </h3>

                    <p class="u-text u-margin-top1x u-margin-bottom2x">
                        Provide a short description of the experience that should be certified.
                    </p>

                </div>

                <div class="formsection-x-body">
					<div class="forminput">

                        <label class="forminput-x-label">
                            Description
                        </label>

                        <bg-formfield-markdown
                            [control]="credentialForm.rawControlMap.description"
                            label="Experience Description">
                        </bg-formfield-markdown>

                    </div>

                </div>

            </div>

            <!-- Buttons -->

            <div class="l-stack l-stack-right">

                <button
                    type="button"
                    class="button button-secondary"
                    (click)="creationCanceled()">

                    Cancel

                </button>

                <button
                    type="submit"
                    class="button"
                    [disabled]="submitting">

                    {{ submitting ? 'Creating...' : 'Create Credential' }}

                </button>

            </div>

        </form>

    </div>

</ng-container>