<main>

	<form-message></form-message>

	<div class="topbar">

		<div class="l-containerxaxis topbar-x-wrap">

			<h2 class="topbar-x-heading">

				My Credentials

				<span
					class="topbar-x-internalheading"
					*ngIf="hasCredentials()">

					{{
						filteredAcademicCertificates.length +
						filteredDegreeCertificates.length +
						filteredExperienceCertificates.length
					}}

					{{
						(
							filteredAcademicCertificates.length +
							filteredDegreeCertificates.length +
							filteredExperienceCertificates.length
						) === 1
							? 'Credential'
							: 'Credentials'
					}}

				</span>

			</h2>

		</div>

	</div>

	<ng-template [bgAwaitPromises]="[badgesLoaded]">

		<!-- Empty State -->

		<section
			class="emptysection l-emptysection"
			*ngIf="!hasCredentials()">

			<h2 class="emptysection-x-headline">

				You have no credentials

			</h2>

			<p class="emptysection-x-copy">

				Your academic, degree and experience credentials will appear here.

			</p>

			<div class="emptysection-x-imagecontainer">

				<img
					alt="Illustration"
					class="emptysection-x-image"
					[src]="noBadgesImageUrl">

			</div>

		</section>

		<!-- Search / Display Controls -->

		<div
			class="l-containerxaxis l-containeryaxis"
			*ngIf="hasCredentials()">

			<div class="l-actionbar u-margin-bottom3x">

				<div class="forminput l-actionbar-x-search">

					<div class="forminput-x-inputs">

						<input
							type="text"
							name="credentialSearch"
							id="credentialSearch"
							placeholder="Search credentials"
							[(ngModel)]="searchQuery">

						<svg
							class="forminput-x-icon"
							icon="icon_search">
						</svg>

					</div>

				</div>

				<div
					class="viewtoggle l-actionbar-x-viewtoggle"
					[class.viewtoggle-is-listview]="badgesDisplay == 'list'">

					<label class="viewtoggle-x-grid">

						<span class="visuallyhidden">
							Grid
						</span>

						<input
							type="radio"
							name="credentialView"
							value="grid"
							[(ngModel)]="badgesDisplay">

						<svg icon="icon_grid"></svg>

					</label>

					<label class="viewtoggle-x-list">

						<span class="visuallyhidden">
							List
						</span>

						<input
							type="radio"
							name="credentialView"
							value="list"
							[(ngModel)]="badgesDisplay">

						<svg icon="icon_list"></svg>

					</label>

				</div>

			</div>

			<!-- Grid View -->

			<ng-template [ngIf]="badgesDisplay == 'grid'">

				<!-- Academic Certificates -->

				<div *ngIf="filteredAcademicCertificates.length">

					<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top2x u-text-dark1">

						Academic Certificates

						<span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x">

							{{ filteredAcademicCertificates.length }}

							{{ filteredAcademicCertificates.length == 1 ? 'Credential' : 'Credentials' }}

						</span>

					</h3>

					<div class="l-grid l-grid-large">

						<bg-badgecard
							*ngFor="let credential of filteredAcademicCertificates"

							[entityId]="credential.credentialId"

							[routerLink]="['../earned-badge', credential.credentialId]"

							[title]="credential.achievementName"

							[description]="credential.achievementDescription"

							[image]="credential.achievementImage"

							[date]="credential.validFrom"

							[status]="credential.signature ? 'Signed' : undefined">

						</bg-badgecard>

					</div>

				</div>

				<!-- Degree Certificates -->

				<div *ngIf="filteredDegreeCertificates.length">

					<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">

						Degree Certificates

						<span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x">

							{{ filteredDegreeCertificates.length }}

							{{ filteredDegreeCertificates.length == 1 ? 'Credential' : 'Credentials' }}

						</span>

					</h3>

					<div class="l-grid l-grid-large">

						<bg-badgecard
							*ngFor="let credential of filteredDegreeCertificates"

							[entityId]="credential.credentialId"

							[routerLink]="['../earned-badge', credential.credentialId]"

							[title]="credential.achievementName"

							[description]="credential.achievementDescription"

							[image]="credential.achievementImage"

							[date]="credential.validFrom"

							[status]="credential.signature ? 'Signed' : undefined">

						</bg-badgecard>

					</div>

				</div>

				<!-- Experience Certificates -->

				<div *ngIf="filteredExperienceCertificates.length">

					<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">

						Experience Certificates

						<span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x">

							{{ filteredExperienceCertificates.length }}

							{{ filteredExperienceCertificates.length == 1 ? 'Credential' : 'Credentials' }}

						</span>

					</h3>

					<div class="l-grid l-grid-large">

						<bg-badgecard
							*ngFor="let credential of filteredExperienceCertificates"

							[entityId]="credential.credentialId"

							[routerLink]="['../earned-badge', credential.credentialId]"

							[title]="credential.achievementName"

							[description]="credential.achievementDescription"

							[image]="credential.achievementImage"

							[date]="credential.validFrom"

							[status]="credential.signature ? 'Signed' : undefined">

						</bg-badgecard>

					</div>

				</div>

			</ng-template>

			<!-- List View -->

			<ng-template [ngIf]="badgesDisplay == 'list'">

				<table class="datatable datatable-roundheaders datatable-onlyfirstcolumn datatable-verticalalignmiddle">

					<thead class="datatable-x-head">

						<tr class="datatable-x-header">

							<th class="datatable-x-cell" scope="col">
								Credential
							</th>

							<th class="datatable-x-cell" scope="col">
								Type
							</th>

							<th class="datatable-x-cell" scope="col">
								Issued
							</th>

							<th class="datatable-x-cell" scope="col">
								Status
							</th>

						</tr>

					</thead>

					<tbody class="datatable-x-body">

						<!-- Academic -->

						<tr
							class="datatable-x-row"
							*ngIf="filteredAcademicCertificates.length">

							<th
								class="datatable-x-inlineheader"
								scope="row"
								colspan="4">

								Academic Certificates

							</th>

						</tr>

						<tr
							class="datatable-x-row"
							*ngFor="let credential of filteredAcademicCertificates">

							<td class="datatable-x-cell">

								<div class="l-flex l-flex-2x l-flex-aligncenter">

									<img
										*ngIf="credential.achievementImage"
										class="badgeimage badgeimage-small u-margin-right2x l-flex-x-shrink0"
										width="40"
										[src]="credential.achievementImage">

									<a
										class="u-text u-text-link u-text-breakword"
										[routerLink]="['../earned-badge', credential.credentialId]">

										{{ credential.achievementName }}

									</a>

								</div>

							</td>

							<td class="datatable-x-cell">
								Academic
							</td>

							<td class="datatable-x-cell">

								<time
									[date]="credential.validFrom"
									format="mediumDate">
								</time>

							</td>

							<td class="datatable-x-cell">

								{{ credential.signature ? 'Signed' : '-' }}

							</td>

						</tr>

						<!-- Degree -->

						<tr
							class="datatable-x-row"
							*ngIf="filteredDegreeCertificates.length">

							<th
								class="datatable-x-inlineheader"
								scope="row"
								colspan="4">

								Degree Certificates

							</th>

						</tr>

						<tr
							class="datatable-x-row"
							*ngFor="let credential of filteredDegreeCertificates">

							<td class="datatable-x-cell">

								<div class="l-flex l-flex-2x l-flex-aligncenter">

									<img
										*ngIf="credential.achievementImage"
										class="badgeimage badgeimage-small u-margin-right2x l-flex-x-shrink0"
										width="40"
										[src]="credential.achievementImage">

									<a
										class="u-text u-text-link u-text-breakword"
										[routerLink]="['../earned-badge', credential.credentialId]">

										{{ credential.achievementName }}

									</a>

								</div>

							</td>

							<td class="datatable-x-cell">
								Degree
							</td>

							<td class="datatable-x-cell">

								<time
									[date]="credential.validFrom"
									format="mediumDate">
								</time>

							</td>

							<td class="datatable-x-cell">

								{{ credential.signature ? 'Signed' : '-' }}

							</td>

						</tr>

						<!-- Experience -->

						<tr
							class="datatable-x-row"
							*ngIf="filteredExperienceCertificates.length">

							<th
								class="datatable-x-inlineheader"
								scope="row"
								colspan="4">

								Experience Certificates

							</th>

						</tr>

						<tr
							class="datatable-x-row"
							*ngFor="let credential of filteredExperienceCertificates">

							<td class="datatable-x-cell">

								<div class="l-flex l-flex-2x l-flex-aligncenter">

									<img
										*ngIf="credential.achievementImage"
										class="badgeimage badgeimage-small u-margin-right2x l-flex-x-shrink0"
										width="40"
										[src]="credential.achievementImage">

									<a
										class="u-text u-text-link u-text-breakword"
										[routerLink]="['../earned-badge', credential.credentialId]">

										{{ credential.achievementName }}

									</a>

								</div>

							</td>

							<td class="datatable-x-cell">
								Experience
							</td>

							<td class="datatable-x-cell">

								<time
									[date]="credential.validFrom"
									format="mediumDate">
								</time>

							</td>

							<td class="datatable-x-cell">

								{{ credential.signature ? 'Signed' : '-' }}

							</td>

						</tr>

					</tbody>

				</table>

			</ng-template>

		</div>

	</ng-template>

</main>