<form-message></form-message>
<ng-template sourceListener></ng-template>
<main *bgAwaitPromises="[profileLoaded]">
	<div class="topbar">
		<div class="l-containerxaxis">
			<div class="topbar-x-heading l-spacestack">
				{{ profile?.username }} - {{ profile?.email }}
				<br> Role: {{ profile?.role }}
				<div class="l-primarymore">
					<button [routerLink]="['../change-password']"
					        class="button"
					>{{(profile.hasPasswordSet)?'Change':'Set'}} Password
					</button>
					<button [bgPopupMenuTrigger]="editMenu"
					        class="buttonicon buttonicon-secondary"
					        id="trigger2"
					>
						<svg icon="icon_more"></svg>
						<span class="visuallyhidden">More</span>
					</button>
				</div>
			</div>
		</div>
		<bg-popup-menu #editMenu
		               class="menu"
		               id="menu2"
		>
			<div [routerLink]="['/profile/edit']"
			     class="menuitem"
			>
				<svg icon="icon_edit"></svg>
				Edit
			</div>
		</bg-popup-menu>
	</div>
</main>
