<div
	class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<form-message></form-message>

	<div class="shadowcontainer u-animate-dropfade">
		<!-- OAuth Banner -->
		<oauth-banner></oauth-banner>

		<!-- Title Message -->
		<h3
			class="u-text-h3-bold"
			id="heading-form"
		>
			Create a {{ theme.serviceName || "Badgr" }} Account
		</h3>
		<p
			class="u-text u-text-body u-responsivemargin-top1x2x"
			*ngIf="! oAuthManager.currentAuthorization"
		>
			Already have an account?
			<a [routerLink]="['/auth/login']">Sign in</a>.
		</p>
		<p
			class="u-text u-text-body u-responsivemargin-top1x2x"
			*ngIf="oAuthManager.currentAuthorization"
		>
			The application
			<strong>
				{{ oAuthManager.currentAuthorization.application.name }}
			</strong>
			would
			like to sign you in using {{ theme.serviceName || "Badgr"}}.
			Already have an account?
			<a [routerLink]="['/login']">Sign in</a>!
		</p>

		<!-- Sign Up Form -->
		<form
			class="u-margin-top2x"
			role="form"
			aria-labelledby="heading-form"
			[formGroup]="signupForm.rawControl"
			(ngSubmit)="onSubmit()"
			novalidate
		>

			<!-- Signup Controls -->
			<fieldset
				role="group"
				aria-labelledby="heading-badgrsignup2"
			>
				<legend
					class="visuallyhidden"
					id="heading-badgrsignup2"
				>
					Sign up with {{ theme.serviceName || "Badgr"}} by providing your information
				</legend>

				<bg-formfield-text
					class="u-margin-bottom2x"
					[control]="signupForm.rawControlMap.email"
					[label]="'Email'"
					fieldType="email"
					[errorMessage]="'Please enter a valid email address'"
					[autofocus]="true"
				></bg-formfield-text>

				<bg-formfield-text
					class="u-margin-bottom2x"
					[control]="signupForm.rawControlMap.username"
					[label]="'Username'"
					[errorMessage]="'Please enter an username'"
				></bg-formfield-text>

				<bg-formfield-text
					class="u-margin-bottom2x"
					[control]="signupForm.rawControlMap.password"
					[label]="'Password (Must be at least 8 characters)'"
					fieldType="password"
					[errorMessage]="{
						required: 'Please enter a password',
						minlength: 'Password must be at least 8 characters'
					}"
				></bg-formfield-text>

				<bg-formfield-text
					[control]="signupForm.rawControlMap.passwordConfirm"
					[label]="'Confirm Password'"
					fieldType="password"
					[errorMessage]="{
						required: 'Please confirm your password',
						passwordsMatch: 'Passwords do not match'
					}"
				></bg-formfield-text>
			</fieldset>

			<div>
				<div class="l-stack l-stack-2x l-stack-buttons u-margin-top3x">
					<button class="button button-secondary"
					        type="button"
					        *ngIf="oAuthManager.currentAuthorization"
					        (click)="oAuthManager.cancelCurrentAuthorization()"
					>Cancel
					</button>
					<button class="button"
					        type="submit"
					        [disabled]="!! signupFinished"
					        [loading-promises]="[ signupFinished ]"
					        loading-message="Signing Up..."
					>Create Account
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
