<div
	class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<form-message></form-message>

	<div class="shadowcontainer u-animate-dropfade">
		<!-- Title Message -->
		<h3
			class="u-text-h3-bold"
			id="heading-form"
		>
			Create a new staff account
		</h3>

		<!-- Register Form -->
		<form
			class="u-margin-top2x"
			role="form"
			aria-labelledby="heading-form"
			[formGroup]="signupForm.rawControl"
			(ngSubmit)="onSubmit()"
			novalidate
		>

			<!-- Register Controls -->
			<fieldset
				role="group"
				aria-labelledby="heading-badgrsignup2"
			>
				<legend
					class="visuallyhidden"
					id="heading-badgrsignup2"
				>
					Provide information for new staff account
				</legend>

				<bg-formfield-text
					class="u-margin-bottom2x"
					[control]="signupForm.rawControlMap.email"
					[label]="'Email'"
					fieldType="email"
					[errorMessage]="'Please enter a valid email address'"
					[autofocus]="true"
				></bg-formfield-text>

				<bg-formfield-text
					class="u-margin-bottom2x"
					[control]="signupForm.rawControlMap.username"
					[label]="'Username'"
					[errorMessage]="'Please enter an username'"
				></bg-formfield-text>

				<bg-formfield-text
					class="u-margin-bottom2x"
					[control]="signupForm.rawControlMap.password"
					[label]="'Password (Must be at least 8 characters)'"
					fieldType="password"
					[errorMessage]="{
						required: 'Please enter a password',
						minlength: 'Password must be at least 8 characters'
					}"
				></bg-formfield-text>

				<bg-formfield-select
					[control]="signupForm.rawControlMap.role"
					[label]="'Role'"
					[optionMap]="roles">
				</bg-formfield-select>
			</fieldset>

			<div>
				<div class="l-stack l-stack-2x l-stack-buttons u-margin-top3x">
					<button class="button"
					        type="submit"
					        [disabled]="!! signupFinished"
					        [loading-promises]="[ signupFinished ]"
					        loading-message="Registering..."
					>Register new staff
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
